.Button {
  outline: 0;
  border: 0;
  background: none;
  border: 1px solid #d9d9d9;
  padding: 8px 0px;
  color: #515151;
  text-transform: uppercase;
  width: 125px;
  font-family: inherit;
  margin-right: 5px;
  transition: all 0.3s ease;
  font-weight: 500;
}

.Button:hover,
.Button:focus {
  border: 1px solid #aedaa6;
  color: #aedaa6;
  cursor: pointer;
}
